@model IEnumerable<ITEquipmentBorrowApp.Models.ITEquipment>
<div>
    <h2>Available Equipment</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Equipment Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equipment in Model)
            {
                <tr>
                    <td>@equipment.Id</td>
                    <td>@equipment.Type</td>
                    <td>@equipment.Description</td>
                    <td>
                        @if (equipment.IsAvailable)
                        {
                            <span class="badge bg-success">Available</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Unavailable</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

               