@model ITEquipmentBorrowApp.Models.ITEquipmentRequest;
<div>
    <h1>Thank you, @Model?.Name for your request!</h1>
    
        <p>Your confirmation request (ID: @Model?.Id) has been submitted successfully.</p>
        <p>Someone from the IT department will be in touch with you soon.</p>
</div>
