@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FAST Equipment Tool</h1>
    <p> The FAST Equipment Tool allows students and professors to request and borrow IT equipment 
  efficiently. This page provides a user-friendly interface to navigate users to submit requests to borrow IT equipment.</p>
</div>
