@model IEnumerable<ITEquipmentBorrowApp.Models.ITEquipmentRequest>
<div>
    <h2>All Equipment Requests</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role of User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.Requester.Name</td>
                    <td>@request.Requester.Role</td>

                     <td>
                    <button type="button" class="btn btn-sm btn-success me-1">
                        Accept
                    </button>
                    <button type="button" class="btn btn-sm btn-danger">
                        Deny
                    </button>
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>

               